.pass-group {
     position: relative;

   .icons-eye{
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
}

.register-container {
  .header {
    height:  45px;
    padding: 5px 100px 0 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    
    
    }
}